{% extends "guidance/admin/main.html" %}
{% load static %}
{% block headcontent %}
    <link rel="stylesheet" href="{% static 'guidance/stylesheet/individual_profile.css'%}">
{% endblock %}
{% block bodycontent %}
    <div class="showform_container" id="consent_container">
        <div class="form_container">
            <h2>Informed Consent Form</h2>
            <p class="with-indent">
                By checking the box below, I agree to fill out the Individual Profile Sheet for the Guidance Office. I commit to providing honest and complete information. I trust that the Guidance Staff will handle my personal data with the utmost confidentiality.
            </p>
            <div>
                <label>
                    <input type="checkbox" id="agreeCheck">
                    I agree.
                </label>
            </div>
            <button class="actionButton disabled" disabled id="proceedBtn">Proceed</button>
        </div>
    </div>
    

    <div class="container">
        <h3>GUIDANCE</h3>
        <span><label id="dir-gray">Home</label><label id="dir-orange"> > Individual Profile </label></span>
        <div class="form-container">
            <form>
                {% csrf_token %}
                <h2 width="width: 100%;">Fill Out Individual Profile</h2>
                <label>Enter ID number:</label>
                <span id="search_id">
                    <input type="text" name="studentID" placeholder="search" required="" id="studentIDBox">
                    <button class="OrangeButton" id="searchButton">Search</button>
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </span>
                <table id="info_table" class="hidden">
                    <tr id="info_table_head">
                        <th>NAME</th>
                        <th>COURSE</th>
                        <th>SEX</th>
                    </tr>
                </table>
            </form>
            <form method="post" action="" id="individualProfileForm" class="hidden" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="student_id_val" name="student_id_val">
                <div class="page_counter_container">
                    <div class="page_viewer current-fill-out">1</div>
                    <div class="page_viewer">2</div>
                    <div class="page_viewer">3</div>
                    <div class="page_viewer">4</div>
                    <div class="page_viewer">5</div>
                    <div class="page_viewer">6</div>
                    <div class="page_viewer">7</div>
                    <div class="page_viewer">8</div>
                    <div class="page_viewer">9</div>
                    <div class="page_viewer">10</div>
                </div>
                <div class="slider">
                    
                    <div class="fill_out_container current-page-activated">
                        <h2>Please fill out each information</h2>
                        <label>Please upload a 2x2 photo.</label>
                        {{form.studentPhoto}}
                        <label>Enter your Nickname.</label>
                        {{form.nickName}}
                        <label>Enter your year level and section.</label>
                        <div class="two_input_container">
                            {{form.yearlvl}}
                            {{form.section}}
                        </div>
                        <label>Enter your major.</label>
                        {{form.major}}
                        <label>Are you a ___?</label>
                        {{form.studentType}}
                        <div id="hs_curriculum" class="hidden">
                            <label>What highschool curriculum you had?</label>
                            {{form.curriculumtype}}
                        </div>
                        <div id="hs_track" class="hidden">
                            <label>What track did you pick?</label>
                            {{form.track}}
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
    
                    <div class="fill_out_container hidden">
                        <h2>A. Personal Data</h2>
                        <div class="two_input_container">
                            <label>Enter your birthdate:</label>
                            <label>Enter your place of birth:</label>
                        </div>
                        <div class="two_input_container">
                            {{form.dateOfBirth}}
                            {{form.placeOfBirth}}
                        </div>
                        <label>Enter your religion.</label>
                        {{form.religion}}
                        <div class="two_input_container">
                            <label>Enter your height in centimeter.</label>
                            <label>Enter your weight in kilograms.</label>
                        </div>
                        <div class="two_input_container">
                            {{form.height}}
                            {{form.weight}}
                        </div>
                        <label>What is your birth order among your siblings?</label>
                        {{form.birthOrderAmongSiblings}}
                        <label>What is your Sexual Orientation?</label>
                        {{form.sexualOrientation}}
                        <label>What is your Civil Status?</label>
                        {{form.civilStatus}}
                        <label>What is your citizenship?</label>
                        {{form.citizenship}}
                        <div class="two_input_container">
                            <label>Where is your current address?</label>
                            <label>What is your permanent address?</label>
                        </div>
                        <div class="two_input_container">
                            {{form.currentAddress}}
                            {{form.permanentAddress}}
                        </div>
                        <div class="two_input_container">
                            <label>Enter your mobile number:</label>
                            <label>Enter your email address:</label>
                        </div>
                        <div class="two_input_container">
                            {{form.mobileNo}}
                            {{form.email}}
                        </div>
                        <label>Enter your landline number: <label style="color: rgb(0, 4, 255)">*leave it blank if you don't have any.</label></label>
                        {{form.landlineNo}}
                        <div class="two_input_container">
                            <label>What is your langauages/dialect spoken at home?</label>
                            <label>What is your langauages/dialect your most fluent in?</label>
                        </div>
                        <div class="two_input_container">
                            {{form.languagesDialectsSpokenAtHome}}
                            {{form.languagesDialectsMostFluentIn}}
                        </div>
                        <label>With whom are you living?</label>
                        {{form.livingWith}}
                        <div id="living_specify" class="hidden">
                            <label>Please Specify:</label>
                            {{form.livingSpecify}}
                        </div>
                        <label>While studying in CTU, where are you living?</label>
                        {{form.placeOfLiving}}
                        <div id="place_of_living_other" class="hidden">
                            <label>Please specify:</label>
                            {{form.placeOfLivingOthers}}
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>B. Family Data</h2>
                        <table class="fullLenght">
                            <tr>
                                <th class="smallitem"></th>
                                <th>Father(Mark with + if deceased)</th>
                                <th>Mother(Mark with + if decreased)</th>
                            </tr>
                            <tr>
                                <td class="smallitem">Name:</td>
                                <td><div class="field_container">{{form.fatherName}}</div></td>
                                <td><div class="field_container">{{form.motherName}}</div></td>
                            </tr>
                            <tr>
                                <td class="smallitem">Date of Birth:</td>
                                <td><div class="field_container">{{form.fatherDateOfBirth}}</div></td>
                                <td><div class="field_container">{{form.motherDateOfBirth}}</div></td>
                            </tr>
                            <tr>
                                <td class="smallitem">Address:</td>
                                <td><div class="field_container">{{form.fatherAddress}}</div></td>
                                <td><div class="field_container">{{form.motherAddress}}</div></td>
                            </tr>
                            <tr>
                                <td class="smallitem">Landline:</td>
                                <td><div class="field_container">{{form.fatherLandline}} </div></td>
                                <td><div class="field_container">{{form.motherLandLine}} </div></td>
                            </tr>
                            <tr>
                                <td class="smallitem">Mobile Number (Cellphone No.):</td>
                                <td><div class="field_container">{{form.fatherMobilePhone}}</div></td>
                                <td><div class="field_container">{{form.motherMobilePhone}}</div></td>
                            </tr>
                        </table>
                        <div class="two_input_container">
                            <label>What is your father's highest educational attainment?</label>
                            <label>What is your mother's highest educational attainment?</label>
                        </div>
                        <div class="two_input_container">
                            {{form.fatherEducationLevel}}
                            {{form.motherEducationLevel}}
                        </div>
                        <div class="two_input_container">
                            <label>Is your father a graduate of CTU?</label>
                            <label>Is your mother a graduate of CTU?</label>
                        </div>
                        <div class="two_input_container">
                            {{form.fatherCTU}}
                            {{form.motherCTU}}
                        </div>
                        <label>What is the family's main source of income?</label>
                        {{form.sourceOfIncome}}
                        <div id="source_income_container" class="hidden">
                            <label>Please specify:</label>
                            {{form.sourceOfIncomeSpecify}}
                        </div>
                        <div class="two_input_container">
                            <label>What is your father's occupation? <label style="color: rgb(0, 4, 255)">(If father is deceased, please do not answer)</label></label>
                            <label>What is your mothers's occupation? <label style="color: rgb(0, 4, 255)">(If father is deceased, please do not answer)</label></label>
                        </div>
                        <div class="two_input_container">
                                {{form.fatherOccupation}}
                                {{form.motherOccupation}}
                        </div>
                        <div class="two_input_container">
                            <div id="father_occupation_other" class="others_container hidden">
                                <label>Please specify:</label>
                                {{form.fatherOtherOccupation}}
                            </div>
                            <div id="mother_occupation_other" class="others_container hidden">
                                <label>Please specify:</label>
                                {{form.motherOtherOccupation}}
                            </div>
                        </div>
                        <label>How much is your family earning in a month?</label>
                        {{form.familyEarningInaMonth}}
                        <label>Parents are:</label>
                        {{form.parentStatus}}
                        <table id="siblings" class="fullLenght">
                            <tr>
                                <th colspan="3">
                                    <label>Please name below siblings from eldest to youngest. Include yourself.</label>
                                </th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>School/Place of Work</th>
                            </tr>
                            <tr class="sibllingsrowTemplate">
                                <td>
                                    <div class="field_container">
                                        <input type="text" name="name[]">
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        <input type="number" name="age[]">
                                    </div>      
                                </td>
                                <td>
                                    <div class="field_container">
                                        <input type="text" name="placework[]">
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        <button class="deleteRow OrangeButton">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="center_object">
                            <button id="addanother" class="OrangeButton">Add another</button>
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>C. Contact Persons</h2>
                        <div class="two_input_container">
                            <label>Enter a person to be notified in case of emergency.</label>
                            <label>What is your relationship with said person?</label>
                        </div>
                        <div class="two_input_container">
                            {{form.personInCaseofEmergency}}
                            {{form.personInCaseofEmergencyRelationship}}
                        </div>
                        <label>What is the address with said person?</label>
                        {{form.personInCaseofEmergencyAddress}}
                        <div class="two_input_container">
                            <label>Enter Landline number <label style="color:rgb(0, 4, 255);">* leave it blank if they don't have any.</label></label>
                            <label>Enter mobile number</label>
                        </div>
                        <div class="two_input_container">
                            {{form.personInCaseofEmergencyLandline}}
                            {{form.personInCaseofEmergencyMobileNo}}
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>D. Health Data</h2>
                        <label>Do you have any disabilities/impairments?</label>
                        {{form.disabilies}}
                        <div class="two_input_container">
                            <label>Do you have any allergies?</label>
                            <label>What is your blood type?</label>
                        </div>
                        <div class="two_input_container">
                            {{form.allergies}}
                            {{form.bloodType}}
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>E. Educational Background</h2>
                        <table id="educational_awards">
                            <tr>
                                <th class="firstitem"></th>
                                <th>Name of School/Address</th>
                                <th>Awards/Honors Received</th>
                                <th>Year Graduated</th>
                            </tr>
                            <tr>
                                <td class="firstitem">
                                    <div class="field_container">
                                        Elementary
                                        {{form.elementaryType}}
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.elementaryName}}
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.elementaryAwardsRecieved}}
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.elementaryYearGraduated}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstitem">
                                    <div class="field_container">
                                        Senior High School:
                                        {{form.seniorHighSchoolType}}
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.seniorHighSchoolName}}
                                    </div>
                                </td>
                                    
                                <td>
                                    <div class="field_container">
                                        {{form.seniorHighSchoolAwardsRecieved}}
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.seniorHighSchoolYearGraduated}}
                                    </div>  
                                </td>
                            </tr>
                            <tr>
                                <td class="firstitem">
                                    College (If Transferee)
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.collegeName}}
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.collegeAwardsRecieved}}
                                    </div>    
                                </td>
                                <td>
                                    <div class="field_container">
                                        {{form.collegeYearGraduated}}</td>
                                    </div>
                            </tr>
                        </table>
                        <div class="yes_no_question_cotainer">
                            <label>Where you a school leaver?</label>
                            {{form.schoolLeaver}}
                        </div>
                        <div class="others_container hidden" id="reasonOfLeaving">
                            <label>What is the reason of you leaving?</label> 
                            {{form.schoolLeaverWhy}}
                        </div>
                        <label>Who if financially supporting your studies?</label>
                        {{form.finaciallySupporting}}
                        <div id="scholarship" class="others_container hidden">
                            <label>What scholarship do you have?</label> 
                            {{form.typeOfScholarship}}
                            <label>Please Specify:</label>
                            {{form.specifyScholarship}}
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>F. Memebership In Organization/s</h2>
                        <table id="organizationTable">
                            <tr>
                                <th>Name of Organization</th>
                                <th>In School/Outside School</th>
                                <th>Position / Title</th>
                                <th>Inclusive Years</th>
                            </tr>
                            <tr class="orgRowTemplate">
                                <td>
                                    <div class="field_container">
                                        <input type="text" name="name_of_organization[]" required>
                                    </div>
                                </td>
                                <td>
                                    <div class="inoutschool field_container">    
                                        <div id="inoutSchool" class="side-way"><div>
                                            <label for="id_elementaryType_0"><input type="radio" name="inoutSchool_0[]" value="True" class="side-way" required="">
                                                Yes
                                            </label>
                                        
                                        </div>
                                        <div id="inoutSchool" class="side-way">
                                            <label for="id_elementaryType_1"><input type="radio" name="inoutSchool_0[]" value="False" class="side-way" required="">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        <input type="text" name="position[]">
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        <input type="text" name="inclusiveyears[]">
                                    </div>
                                </td>
                                <td>
                                    <div class="field_container">
                                        <button class="deleteRow OrangeButton">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="center_object">
                            <button id="addOrganization" class="OrangeButton">Add Organization</button>
                        </div>
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>G. Unique Features</h2>
                        <label>Do you have any special skills/talents?</label>
                        {{form.specialSkill}}
                        <label>What are your ambitions/goals?</label>
                        {{form.goals}}
                        <label>Do you have any present concerns/problems?</label>
                        {{form.presentConcerns}}
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>H. Student's General Personality Make-Up</h2>
                        <label>Please select any of this following items taht describe you best.</label>
                        <table>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Friendly">Friendly</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Self-Confident">Self-Confident</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Calm">Calm</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Quick-Tempered">Quick-Tempered</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Feels Inferior">Feels Inferior</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Unhappy">Unhappy</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Easily Bored">Easily Bored</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Talented">Talented</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Withdrawn">Withdrawn</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Conscientious">Conscientious</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Talkative">Talkative</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Cheerful">Cheerful</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Moody">Moody</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Easily Exhausted">Easily Exhausted</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Lazy">Lazy</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Sensitive">Sensitive</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Poor health">Poor health</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Received">Reserved</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Quiet">Quiet</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Independent">Independent</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Depressed">Depressed</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Suspicious">Suspicious</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Irritable">Irritable</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Stubborn">Stubborn</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Thoughtful">Thoughtful</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Lovable">Lovable</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Jealous">Jealous</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Shy">Shy</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Sarcastic">Sarcastic</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Tactful">Tactful</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="describeYouBest[]" value="Pessimistic">Pessimistic</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Submissive">Submissive</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Optimistic">Optimistic</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Happy-go-lucky">Happy-go-lucky</td>
                                <td><input type="checkbox" name="describeYouBest[]" value="Goal-oriented">Goal-oriented</td>
                            </tr>
                        </table>
                        <label>Is there other things describe you the best? <label style="color: rgb(0, 4, 255);">* please specify</label></label>
                        {{form.describeYouBestOther}}
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton nextpage">Next</button>
                        </div>
                    </div>
                    <div class="fill_out_container hidden">
                        <h2>I. School/Career-Related</h2>
                        <label>Whose decision was it to take this college course?</label>
                        {{form.decisionForTheCourse}}
                        <div class="others_container hidden" id="preferedCourse">
                            <label >If you did not choose your current course, which course do you prefer?</label>
                            {{form.specifyTheDecision}}
                        </div>
                        <label>Do you plan to work on your specizlization after graduation?</label>
                        {{form.doYouPlanToWork}}
                        <div class="others_container hidden" id="specifyDontWork">
                            <label>Specify why:</label>
                            {{form.specifyIfNo}}
                        </div>
                        <label>What possible factors will hinder you to continue your college education?</label>
                        {{form.possibleFactors}}
                        <div class="center_object">
                            <button class="OrangeButton prevPage">Previous</button>
                            <button class="OrangeButton" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'guidance/scripts/individual_profile.js'%}"></script>
{% endblock %}