{% extends "guidance/admin/main.html" %}
{% load static %}
{% block headcontent %}
    <link rel="stylesheet" href="{% static 'guidance/stylesheet/good_moral no nav.css'%}">
{% endblock %}

{% block bodycontent %}
    <div class="certificate" id="pagecontainer">
        <div class="logo_content">
            <img class="logo1" src="{% static 'guidance/assets/CTU_logo.png'%}" alt="CTU Logo">
            <div class="header">
                <p class="Republique">REPUBLIC OF THE PHILIPPINES</p>
                <p class="cebu">CEBU TECHNOLOGICAL UNIVERSITY ARGAO CAMPUS</p>
                <p>ARGAO CAMPUS</p>
                <p>Ed Kintanar Street Lamacan, Argao Cebu Philippines</p>
                <p>Website:<a href="">http//www.argao.ctu.edu.ph</a> E-mail: cdargao@ctud.edu.ph</p>
                <p>Phone No: (032) 485-8290/485-5109 loc 1700Fax NO (032)4858-290</p>
            </div>
            <img class="logo2" src="{% static 'guidance/assets/asean.png'%}" alt="ASEAN Logo">
        </div>
        <hr>
        <div class="title">
            <h2>OFFICE OF STUDENT LIFE<br>
                GUIDANCE SERVICES CENTER<br>
                CERTICATION OF GOOD MORAL CHARACTER
            </h2>
        </div>
        <div class="content">
            <br>
            <p id="starting">To Whom It May Concern:</p>
            <br>
            <p> This is to certify that <strong>{{value.name}}</strong> is a bonafide student of Cebu Technological
                University-Argao Campus during the school year 2023-2024 (4th Year , 2nd Semenster) taking
                <strong>{{value.course}}</strong>
            </p>
            <br>
            <p>During his stay in this institution, we have not found any record to show that he committed any act
                contrary to the rules and regulations of the school.</p>
            <br>
            <p>This is also to certify that upon assessment, the person whose name mentioned above is emotionally fit to
                undergo intership.</p>
            <br>
            <p>This certification is issued on <strong>{{value.date}}</strong> for the purpose of his <strong>{{value.type}}</strong>.</p>
        </div>
        <br>
        <div class="signature">
            <div class="guidance">
                <p class="names"><strong>RHEA JANE L. CAYNILA, RPm, RGC</strong></p>
                <p>Guidance Service Coordinator</p>
            </div>
            <br>
            <div class="guidance">
                <p class="names"><strong>MELANIE R. ALBARRACIN</strong></p>
                <p>Dean, Student Life</p>
            </div>
        </div>
    </div>
    <button id="printbutton" class="print">Print</button>
    <script src="{% static 'guidance/scripts/good_moral.js'%}"></script>
{% endblock %}